// Colors
$black: #151515;
$white: #FFFFFF;
$blue: #6E56E0;
$yellow: #FFD928;
$red: #C33535;
$grey: #898989;
$green: #288A05;

$background: $black !default;
$foreground: $white !default;
$primary-color: $blue !default;

// Typography
$font: "Urbanist", serif;
