@use "abstracts" as *;
@use "base" as base;
@use "components" as comp;
@use "layout" as layout;


body {
	background: $background;
	color: $foreground;
	font-family: $font;
	font-optical-sizing: auto;
	font-style: normal;
	font-size: 16px;
	line-height: 24px;

	&.with-modal {
		overflow: hidden;
	}
}

